<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Storage</title>
  </head>
  <body>
    <div class="content">
      <h1 class="title">Your favorite file storage</h1>
      <p class="subtitle">Upload, share, and store your files</p>
      <div class="buttons-container">
        <a href="/login"><button>Login</button></a>
        <a href="/signup"><button>Sign Up</button></a>
      </div>
    </div>
  </body>
</html>
