:root {
  --primary-bg-color: rgb(14, 14, 22);
  --secondary-bg-color: rgb(30, 30, 37);
  --third-bg-color: rgb(22, 22, 31);
  --button-hover-color: rgb(255, 255, 141);
  --button-hover-bg-color: rgba(255, 255, 141, 0.192);
  --border-color: rgb(73, 73, 73);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 40px;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  background-color: var(--third-bg-color);
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  margin: auto;
}

.buttons-container button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}

.signup {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  background-color: var(--secondary-bg-color);
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
}

.signup-form input,
.login-form input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
}

.signup-form label,
.login-form label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-left: 2px;
  font-weight: 700;
}

a {
  color: white;
}

.new-file-modal,
.new-folder-modal,
.file-info-modal,
.rename-modal,
.share-modal {
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  height: 240px;
  margin: auto;
  gap: 20px;
  background-color: var(--secondary-bg-color);
  color: white;
  border: 1px solid var(--border-color);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.folder-form,
.file-form {
  display: flex;
  flex-direction: column;
}

.folder-form {
  gap: 45px;
}

.file-form {
  gap: 30px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.close-button:hover {
  color: var(--button-hover-color);
}

.file-input {
  font-size: 1rem;
}

.submit-button,
.file-input::file-selector-button,
.download-button {
  background-color: var(--third-bg-color);
  color: white;
  border: 1px solid var(--border-color);
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-left: auto;
}

.submit-button:hover,
.file-input::file-selector-button:hover,
.download-button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}

.folder-name-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

#file,
#folder,
#rename-input {
  padding: 5px;
  width: 100%;
}

header {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

aside {
  height: 100vh;
  border-right: 1px solid var(--border-color);
  width: fit-content;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.action {
  border: 1px solid var(--border-color);
  background-color: var(--third-bg-color);
  color: white;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.action:hover {
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
  background-color: var(--button-hover-bg-color);
}

.icon {
  width: 20px;
  height: 20px;
}

.logout-button {
  background-color: inherit;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.logout-icon {
  width: 30px;
  height: 30px;
}

.logout-button:hover {
  color: var(--button-hover-color);
}

main {
  width: 100%;
}

.storage-content {
  display: flex;
}

.folder-content {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
}

.folder-content a {
  text-decoration: none;
}

.folder,
.file {
  border: 1px solid var(--border-color);
  background-color: var(--third-bg-color);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 150px;
  font-size: 1rem;
  position: relative;
}

.folder:hover,
.file:hover {
  color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
  background-color: var(--button-hover-bg-color);
}

.big-icon {
  width: 40px;
  height: 40px;
}

.folder-name,
.file-name {
  display: inline;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.folder-route {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--third-bg-color);
}

.folder-route-text {
  display: flex;
}

.folder-route-text a {
  text-decoration: none;
  color: white;
}

.folder-route-text a:hover {
  color: var(--button-hover-color);
}

.file-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download-button {
  margin: auto;
}

.file-info a {
  width: fit-content;
  margin-left: auto;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  width: 25px;
  height: 25px;
}

.rename-button {
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  width: 25px;
  height: 25px;
}

.rename-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

.error-message {
  position: fixed;
  top: 100px;
  right: 25px;
  background-color: var(--secondary-bg-color);
  padding: 30px 20px;
  border: 1px solid white;
  z-index: 9999;
  border-radius: 8px;
}

#shareTime {
  height: 30px;
  width: 100px;
  margin-right: 10px;
}

.share-link {
  background-color: white;
  color: black;
}
